<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <connectionStrings>
      <add name="SmartPoints_ConnectionString"
         connectionString="Data Source=.;Initial Catalog=SmartPoints;uid='smartpoints';pwd='april2011@ACU'" providerName="System.Data.SqlClient" />

  </connectionStrings>

  <system.web>
    <siteMap defaultProvider="default" enabled="true">
      <providers>
        <add name="default" type="System.Web.XmlSiteMapProvider" siteMapFile="Default.sitemap"/>
        <add name="member" type="System.Web.XmlSiteMapProvider" siteMapFile="Member.sitemap"/>
        <add name="teller" type="System.Web.XmlSiteMapProvider" siteMapFile="Teller.sitemap"/>
        <add name="telleradmin" type="System.Web.XmlSiteMapProvider" siteMapFile="TellerAdmin.sitemap"/>
        <add name="admin" type="System.Web.XmlSiteMapProvider" siteMapFile="Admin.sitemap"/>
      </providers>
    </siteMap>  
    <httpHandlers>

    </httpHandlers>
      <!-- 
                          Set compilation debug="true" to insert debugging affects performance, 
            NOTE: set this value to true only during development.
        -->
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        
      </buildProviders>
    </compilation>

      <!--  The <authentication> section enables configuration of the security authentication mode used by ASP.NET to identify an incoming user   -->
      <authentication mode="Windows">
    </authentication>
      
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="SmartPoints_ConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
      
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="SmartPoints_ConnectionString" applicationName="/" />
      </providers>
    </profile>
    
      <roleManager enabled="true">
      <providers>
        <clear />
        <add connectionStringName="SmartPoints_ConnectionString" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" />
      </providers>
    </roleManager>

      <!--
            The <customErrors> section enables configuration of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
        <error statusCode="403" redirect="notAuthorized.aspx" />
        <error statusCode="404" redirect="notAuthorized.aspx" />
        
        </customErrors>
       -->
      
    <customErrors mode="Off" defaultRedirect="showError.aspx">
      
    </customErrors>
       
      
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      
    </handlers>
  </system.webServer>
</configuration>